<!DOCTYPE html>
<html lang="en">
  <head>
	<title>View your Blog on JingBlog</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">    
	
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/templete/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="/templete/css/bootstrap-theme.min.css">	
	<style>
		body {
		  padding-top: 50px;
		}
		.starter-template {
		  padding: 40px 15px;
		}
	</style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JingBlog Platform</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Blogs <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/addblog">Create Blog</a></li>
                    <li><a href="/manageblog">Manage Blog</a></li>
                    <!--<li class="divider"></li>
                    <li class="dropdown-header">View Blog</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>-->
                  </ul>
            </li>
			<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Posts <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/addpost">Create Post</a></li>
                    <li><a href="/managepost">Manage Post</a></li>
                  </ul>
            </li>      
			<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Images <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/uploadphoto">Upload Image</a></li>
                    <li><a href="/managephoto">Manage Images</a></li>
                  </ul>
            </li>			
          </ul>
		  <ul class="nav navbar-nav pull-right">
            <li><a href="">{{ greeting }}</a></li>
			<li><a href="{{ url }}">{{ url_linktext }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="container">
	<script language="javascript" type="text/javascript">
	function _search(){		
		if($('#textsearch').val()==""){
			alert("Please don't search empty.");
		}else{
			location = "/viewblog/{{blog.key.id()}}?search="+$('#textsearch').val()
		}
	}
	</script>
      <div class="starter-template row">
	    <h1>{{blog.blogname}}&nbsp;&nbsp;<small>&nbsp;&nbsp; owned by {{blog.owner}}</small></h1>
		
		{%if posts%}
			<div class="title col-md-8">
			{%for post in posts%}
			<div class="title">
			<h3>{{post.post_title}}</h3>
			</div>		
			<div class="info">
				<pre>Author:&nbsp;{{post.owner}}&nbsp;&nbsp;|&nbsp;Published On:&nbsp;{{post.publishdatetime}}&nbsp;&nbsp;{% if post.editor %}|&nbsp;Editor:&nbsp;{{post.editor}}&nbsp;&nbsp;{% endif %}{% if post.lastmodifydatetime %}|&nbsp;Last Modified Time:&nbsp;{{post.lastmodifydatetime}}&nbsp;&nbsp;{% endif %}</pre>
			</div>
			<div class="content">
				<p class="lead">{{post.contents[0]}}<BR/><BR/><a href="/viewpost/{{post.key.id()}}">read more on permalink...</a></p>
			</div>
			<div class="tags">
				<pre>Tags:&nbsp;{{post.tags|join(', ')}}</pre>
			</div>
			{%endfor%}		
			</div>			
			{%if tag_filter%}<div class="col-md-4"><h3>Filtered By Tag:</h3><br/>{{tag_filter}}&nbsp;&nbsp;<a href="/viewblog/{{blog.key.id()}}">Remove Filter</a></div>{%endif%}
			<div class="col-md-4"><h3>Tags:</h3><br/>{{tags_str}}</div>
			<div class="col-md-4"><h3>Content Fulltext Search:</h3><br/>			
				<div class="input-group">
				  <input type="text" class="form-control" id="textsearch" name="textsearch" placeholder="Enter your search words"/>
				  <span class="input-group-btn">
					<button class="btn btn-default" type="button" onclick="_search();return false;">Go!</button>
				  </span>
				</div>
			</div>
		{%else%}
			<div><h3>This blog has no post yet.</h3></div>
		{%endif%}
		
      </div>
	  <hr>

	  <footer>
			<p>&copy; Powered by <a href='https://jingblogost.appspot.com' target='_blank'>JingBlog</a> 2013 & <a href='https://developers.google.com/appengine/' target='_blank'>Google App Engine Platform</a></p>
	  </footer>
    </div><!-- /.container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/templete/js/jquery-1.10.2.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
    <script src="/templete/js/bootstrap.min.js"></script>
  </body>
</html>